<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Canban Доска</title>
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
<div id="app">
    <h1>Canban доска</h1>
    <div class="error-bar" v-if="errormessage.length > 0">
        <p>{{errormessage}}</p>
        <button v-on:click="closeErrorMessage">X</button>
    </div>
    <div class="canban">
        <column v-for="(column, index) in columns" :key="index" :cards="cardsToColumns[index]" :column="column" :index="index" @create-card="createCard"></column>
    </div>
</div>
</body>
</html>